# ========================================================
# VARIABLES DE ENTORNO PARA NEXO-CITAS-API
# ========================================================

# Puerto del Microservicio
SERVER_PORT=8085

# Configuración de Base de Datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=citas_db
DB_USER=postgres
DB_PASSWORD=postgres

# Integración transaccional por eventos (Outbox)
OUTBOX_ENABLED=true
OUTBOX_POLL_INTERVAL_MS=2000

# Integración sincrona con nexo-personal-api (Agenda Medica)
PERSONAL_SERVICE_URL=http://nexo-personal-api:8081

# Configuración de Niveles de Log (Opcional)
LOG_LEVEL_NEXO=DEBUG
LOG_LEVEL_HIBERNATE=INFO
